[submodule "ecrad"]
	path = ecrad
	url = git@github.com:pandreozzz/ecrad.git
	branch = flotsam
[submodule "flotsam"]
	path = flotsam
	url = git@github.com:rjhogan/flotsam.git
[submodule "Adept-2"]
	path = Adept-2
	url = git@github.com:rjhogan/Adept-2.git
